{% extends 'base.html' %}

{% block content %}

    <h1>{% block title %} Agenda Estudios {% endblock %}</h1>

    <div class="calendario">
        <h2>Calendário</h2>
        <table class="calendario-table">
            <tr class="calendario-header calendario-header-mes">
                <th colspan="2"><a href="{{url_for('calendario', estudio_name=estudio.name, mes=mes_anterior, ano=ano_anterior)}}" >{{get_month_name(mes_anterior)}}/{{ano_anterior}}</a></th>
                <th colspan="3">{{get_month_name(mes)}}/{{ano}}</th>
                <th colspan="2"><a href="{{url_for('calendario', estudio_name=estudio.name, mes=proximo_mes, ano=proximo_ano)}}" >{{get_month_name(proximo_mes)}}/{{proximo_ano}}</a></th>
                
            <tr class="calendario-header">
                <th>Domingo</th>
                <th>Segunda</th>
                <th>Terça</th>
                <th>Quarta</th>
                <th>Quinta</th>
                <th>Sexta</th>
                <th>Sábado</th>
            </tr>
            {% for i in range(6) %}
                <tr>
                    {% for j in range(7) %}
                        <td>
                            {% set dia = i * 7 + j %}
                            {% set data = (data_inicial + timedelta(days=dia)).strftime('%d') %}
                            <div class={% if data == hoje %}"card_day card_day-active"{% else %}"card_day"{% endif %}>
                                <span class="card-day">{{ data }}</span>
                                {% for agendamento in agendamentos %}
                                    {% if agendamento.data.strftime('%d') == data %}
                                        <div class="card_agendamento">
                                            <span class="card_agendamento-time">{{ agendamento.hora.strftime('%H:%M') }}</span>
                                            <span class="card_agendamento-studio">{{ agendamento.estudio.nome }}</span>
                                            <span class="card_agendamento-client">{{ agendamento.cliente.nome }}</span>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="card_agendamento">
                                    <a href="{{ url_for('agendar') }}" class="card_agendamento-link">Agendar</a>
                            </div>
                        </td>
                        
                    {% endfor %}
                </tr>
            
            {% endfor %}
        </table>
    </div>
{% endblock %}
