
{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block home %}
<a href="{{ url_for('login') }}" class="navbar-brand{% if request.endpoint == 'home' %} active{% endif %}">Home</a>
{% endblock %}


{% block content %}
<div class="agendar-container">
    <h2>Login</h2>
    <form method="post" action="{{ url_for('login') }}">
        <div>
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
    <a href="{{ url_for('register') }}" class="register-link">Registrar</a>
    {% if message %}
        <p style="color: green; margin-top: 12px;">{{ message }}</p>
    {% endif %}
    {% if error %}
        <p style="color: red; margin-top: 12px;">{{ error }}</p>
    {% endif %}
</div>
{% endblock %}
